manifest {
    mainScript = "main.nf"
}

params{
    //    Execution options // execute all by default
    skip_vcf =     false
    skip_bychr =   false
    skip_pruning = false
    skip_grm =     false
    
    //    Output
    outdir = "./output/"
    trace_dir = "${params.outdir}/pipeline_info"
    
    //    Input
    input_vcf = null
    individ = null
    plink_file = null
    
    //    Parameters
    chr = null
    
    // prune options
    prune_window = 50
    prune_step = 5
    prune_r2 = 2
    
    // GRM options
    maf = 0.05
    geno = 0.1    
}

// singularity cache directory
singularity.cacheDir = "/users/abaud/htonnele/singularity/containers"

singularity {
    runOptions = "--no-home" 
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

//wave {
  //enabled = true
//}

profiles {
    crg {
        process {
            container        = "biocorecrg/debian-perlbrew:buster"
            containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
            cache            ="lenient"
            queue            ="genoa64"
            executor         = "slurm"
            array            = 150
            clusterOptions   = { task.time <= 3.h ? "--qos=shorter" :
            (task.time <= 6.h ? "--qos=short" : 
            (task.time <= 12.h ? "--qos=normal" : 
            (task.time <= 24.h ? "--qos=long" : 
            (task.time <= 48.h ? "--qos=vlong" : "--qos=marathon" )))) }
            
            // Default process submission
            //errorStrategy  = { "retry" }
            //maxRetries     = 1
            
            memory = { 3.GB * task.attempt }
            time   = { 1.h * task.attempt } 
            cpus   = "1"
        
        // Memory classes
        withLabel: mem_1 {
            memory = { 1.GB * task.attempt }
        }
        withLabel: mem_5 {
            memory = { 5.GB * task.attempt }
        }
        withLabel: mem_24 {
            memory = { 24.GB * task.attempt }
        }
        withLabel: mem_40 {
            memory = { 40.GB * task.attempt }
        }
        withLabel: mem_60 {
            memory = { 60.GB * task.attempt }
        }

        // Time classes
        withLabel: time_30m {
            time = { 30.m * task.attempt } 
        }
        withLabel: time_2h {
            time = { 2.h * task.attempt } 
        }
        withLabel: time_6h {
            time = { 6.h * task.attempt } 
        }
        withLabel: time_12h {
            time = { 12.h * task.attempt } 
        }

        // CPU classes
        withLabel: cpu_2 {
            cpus = 2
        }
        withLabel: cpu_4 {
            cpus = 4
        }
        withLabel: cpu_8 {
            cpus = 8
        }
        
        withLabel: ignore {
             errorStrategy = "ignore"
        }

     }

   singularity.enabled = true

   }
}

params.run_day  = new Date().format("yyyyMMdd")
params.run_hour = new Date().format("HHmm")

timeline {
  enabled = true
  file = "${params.trace_dir}/${params.run_day}/timeline_${params.run_hour}.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.trace_dir}/${params.run_day}/trace_${params.run_hour}.html"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.trace_dir}/${params.run_day}/dag_${params.run_hour}.png"
  overwrite = true
}

/*
plugins {
  id "nf-boost"
}

boost {
  cleanup = true
}
*/
