# folder related to tests
test*/
output/
# input files
params/ 
start_params*
# scripts to submit
submit*

# folder and cache related to python runs
code/VD/classes/__pycache__/
code/VD/test*
__pycache__/

# nextflow related
.nextflow.log*
.nextflow/
log/
trace/
