manifest {
    mainScript = "main.nf"
}

params{
      input     = null  // input h5 file for VD analysis 
      combinDir = ""    // directory to combins file with pairs of phenotypes to analyse (for bivariate)
      phenos    = null  // regex selecting combins files for phenotype IGE to analyse or number of phenotypes in univariate, leave empty for all
      
      outdir        = "./output"                        // output directory
      pipeline_info = "${params.outdir}/pipeline_info"  // directory where store pipeline information

      bitime    = "2.h"   // time for bivariate analysis - it depends on the structure of the dataset and the effects of model included
      vdMODEL   = "uni"   // model for VD analysis, uni, bi or sex
      PHENOV    = null    // phenotype versoin
      COVSV     = null    // covariates version
      CAGEV     = null    // cage version
      DAMV      = "None"  // dam version
      GRMV      = null    // grm version
      SEXV      = "None"  // sex version - in case sexvariate
      SUBSET    = "None"  // subset 
      EFFECTS   = null    // effects to include in the model, DGE, IGE, IEE, cageEffect, maternalEffect
      CORR_NULL = "None"  // corr to constrain to 0 or 1

      SWAPtraits = "FALSE"  // true when want to swap traits -> trait1 becomes trait2 and viceversa
}

// singularity cache directory
singularity.cacheDir = "~/singularity/containers"

singularity {
    runOptions = "--no-home"
}

profiles {
    crg {
        process {
            container = "biocorecrg/debian-perlbrew:buster"
            containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
            cache = "lenient"
            queue = "genoa64"
            executor = "slurm"
            array = 200
            clusterOptions = { task.time <= 3.h ? "--qos=shorter" :
            (task.time <= 6.h ? "--qos=short" : 
            (task.time <= 12.h ? "--qos=normal" : 
            (task.time <= 24.h ? "--qos=long" : 
            (task.time <= 48.h ? "--qos=vlong" : "--qos=marathon" )))) }
            
            memory = { 1.GB * task.attempt }
            time   = { 30.min * task.attempt } 
            cpus   = "1"

            errorStrategy = { "retry" }
            maxRetries    = 1
            
        // Memory classes
        withLabel: mem_1 {
            memory = "1 GB"
        }
        withLabel: mem_5 {
            memory = "5 GB"
        }
        withLabel: mem_40 {
            memory = "40 GB"
        }
        withLabel: mem_60 {
            memory = "60 GB"
        }

        // Time classes
        withLabel: time_1h {
            time = { 1.h * task.attempt } 
        }
        withLabel: time_2h {
            time = { 2.h * task.attempt } 
        }
        withLabel: time_6h {
            time = { 6.h * task.attempt } 
        }
        
        withLabel: ignore {
             errorStrategy = "ignore"
        }

     }
   }
}


def timestamp = new Date().format("yyyyMMdd_HHmm")

timeline {
  enabled = true
  file = "${params.pipeline_info}/timeline_${timestamp}.html"
  overwrite = true
}


report {
  enabled = true
  file = "${params.pipeline_info}/trace_${timestamp}.html"
  overwrite = true
}


// dag {
//   enabled = true
//   file = "${params.run_tag}/dag.png"
//   overwrite = true
// }


// env {
//     PYTHONNOUSERSITE = 1
//     R_PROFILE_USER   = "/.Rprofile"
//     R_ENVIRON_USER   = "/.Renviron"
// }

