manifest {
    mainScript = 'main.nf'
}

params{
      h5         = null
      pheno_list = null

      outdir    = "./output"
      trace_dir = "${params.outdir}/pipeline_info"
      
      phenov    = null
      covsv     = "None"
      cagev     = null
      grmv      = null
      damv      = null
      subset    = null
      effects   = null
      dsnpv     = null
      ssnpv     = "None"
      gwas      = "dGWAS"

      phenotypes  = "all"
      chromosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20"
}


profiles {
    crg {
        process {
            container = 'biocorecrg/debian-perlbrew:buster'
            containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
            cache = 'lenient'
            queue = 'genoa64'
            executor = "slurm"
            array = 200
            clusterOptions = { task.time <= 3.h ? '--qos=shorter' :
            (task.time <= 6.h ? '--qos=short' : 
            (task.time <= 12.h ? '--qos=normal' : 
            (task.time <= 24.h ? '--qos=long' : 
            (task.time <= 48.h ? '--qos=vlong' : '--qos=marathon' )))) }
            
            memory = { 1.GB * task.attempt }
            time   = { 30.min * task.attempt } 
            cpus   = '1'

            errorStrategy = { 'retry' }
            maxRetries    = 1
            
        // Memory classes
        withLabel: mem_1 {
            memory = '1 GB'
        }
        withLabel: mem_5 {
            memory = '5 GB'
        }
        withLabel: mem_20 {
            memory = '20 GB'
        }
        withLabel: mem_40 {
            memory = '40 GB'
        }
        withLabel: mem_60 {
            memory = '60 GB'
        }

        // Time classes
        withLabel: time_1h {
            time = { 1.h * task.attempt } 
        }
        withLabel: time_2h {
            time = { 2.h * task.attempt } 
        }
        withLabel: time_6h {
            time = { 6.h * task.attempt } 
        }
        
        withLabel: ignore {
             errorStrategy = 'ignore'
        }

     }
   }
}


def day = new Date().format("yyyyMMdd")
def hour = new Date().format("HHmm")

timeline {
  enabled = true
  file = "${params.trace_dir}/${day}/timeline_${hour}.html"
  overwrite = true
}


report {
  enabled = true
  file = "${params.trace_dir}/${day}/trace_${hour}.html"
  overwrite = true
}


// dag {
//   enabled = true
//   file = "${params.run_tag}/dag.png"
//   overwrite = true
// }


// env {
//     PYTHONNOUSERSITE = 1
//     R_PROFILE_USER   = "/.Rprofile"
//     R_ENVIRON_USER   = "/.Renviron"
// }

// // singularity cache directory
// singularity.cacheDir = "/users/abaud/htonnele/singularity/containers"
// 
// singularity {
//     runOptions = "--no-home"
// }