manifest {
    mainScript = 'main.nf'
}

params{
      original_params = null              // path to starting parameter file
      original_H5     = null              // path to original data h5 file 
      output_folder   = "./output"        // path to main output folder, e.g. simHSmice
      pipeline_info   = "./pipeline_info" // path to folder to store pipeline info, trace, timeline... htmls

      SIT             = null   // corresponding to name of the set of simulations
      POP             = null   // name of population, need for simulation output file
      P               = null   // param to change, use `bin/1.set_params.py -i null -p null -v null -o null --get_dict T` to check which ones
      V               = [""]   // value to set P; if negative define as "neg<value>", can be more than one e.g. ["0.0", "0.1", "neg0.1"] 
      SEED            = [10]   // seed used in simulations, can be any number, can be more than one e.g. [14,15] is going to run two sets of simulations
      simMODEL        = null   // model to simulate, "uni", "bi", "sex"
      NPHENO          = 1000   // number of phenotypes to simulate (1/2 pairs)
      NCAGES          = ""     // n cages to subset, if any, leave empty if not
      SUBV            = "None" // name of subset version, in case want to simulate from a specific subset  
      NAs             = 0      // n NA to introduce OR name of real phenotypes from which introduce NA, leave empty if not
      ORPHENOV        = "None" // this goes with NAs from real phenos, leave empty if not
      GRMV            = null   // grm version from real data 
      CAGEV           = null   // cage version from real data (in R do h5ls(original_H5) to find out)
      DAMV            = "None" // dam version from real data 
      SEXV            = "None" // sex version from real data 
      
      vdMODEL         = null         // model for analysis
      PHENOV          = "mockphenos" // name of phenotype, will be "mockphenos" unless changed in simulation's script
      COVSV           = "None"       // none unless simulate them
      EFFECTS         = null         // effects to include in analysis can be any of DGE,IGE,IEE,cageEffect,maternalEffect (NB: IEE is included by default if IGE)
      CORR_NULL       = "None"       // correlation to constrain comma-sep with the value to constrain, can be 0 or 1 - e.g. "corr_Ad1s2,0" or "corr_As1s2,1"
}


profiles {
    crg {
        process {
            container = 'biocorecrg/debian-perlbrew:buster'
            containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
            cache = 'lenient'
            queue = 'genoa64'
            executor = "slurm"
            array = 256
            clusterOptions = { task.time <= 3.h ? '--qos=shorter' :
            (task.time <= 6.h ? '--qos=short' : 
            (task.time <= 12.h ? '--qos=normal' : 
            (task.time <= 24.h ? '--qos=long' : 
            (task.time <= 48.h ? '--qos=vlong' : '--qos=marathon' )))) }
            
            memory = { 1.GB * task.attempt }
            time   = { 30.min * task.attempt } 
            cpus   = '1'

            errorStrategy = { 'retry' }
            maxRetries    = 1
            
        // Memory classes
        withLabel: mem_1 {
            memory = '1 GB'
        }
        withLabel: mem_5 {
            memory = '5 GB'
        }
        withLabel: mem_40 {
            memory = '40 GB'
        }
        withLabel: mem_60 {
            memory = '60 GB'
        }

        // Time classes
        withLabel: time_1h {
            time = { 1.h * task.attempt } 
        }
        withLabel: time_2h {
            time = { 2.h * task.attempt } 
        }
        withLabel: time_6h {
            time = { 6.h * task.attempt } 
        }
        
        withLabel: ignore {
             errorStrategy = 'ignore'
        }

     }
   }
}


def timestamp = new Date().format('yyyyMMdd_HHmm')

timeline {
  enabled = true
  file = "${params.pipeline_info}/timeline_${timestamp}.html"
  overwrite = true
}


report {
  enabled = true
  file = "${params.pipeline_info}/trace_${timestamp}.html"
  overwrite = true
}


// dag {
//   enabled = true
//   file = "${params.run_tag}/dag.png"
//   overwrite = true
// }


// env {
//     PYTHONNOUSERSITE = 1
//     R_PROFILE_USER   = "/.Rprofile"
//     R_ENVIRON_USER   = "/.Renviron"
// }

// // singularity cache directory
// singularity.cacheDir = "/users/abaud/htonnele/singularity/containers"
// 
// singularity {
//     runOptions = "--no-home"
// }